# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html
[Desktop Entry]
Type=Application
Version=1.0
Exec=479BC
Icon=com.github.open479BC.479BC
Name=479BC
GenericName=Classic isometric city builder game
Comment=Classic isometric city builder game
Categories=Game;Simulation;
